@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Exo", sans-serif;
}
/* header and navbar part start */
header {
  display: flex;
  justify-content: space-between;
  margin: 30px 15px;
}
header .name {
  font-size: 28px;
}
header .btn{
  padding: 10px 20px;
  font-size: 20px;
  background-color: #fff;
  border-radius: 10px;
}
.btn a{
  text-decoration: none;
  color: black;
}
.btn:hover{
  background-color: bisque;
  color: rebeccapurple;
}
/* header and navbar part end */

/* main part start */

/* banner section start */
.banner {
  background-image: url(/images/Hero-bg.png);
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 26px 221px;
}
.banner .title{
  font-size: 40px;
  font-weight: 800;
}
.banner p{
  text-align: center;
  margin-bottom: 15px;
  font-weight: 450;
}
.banner .contact-btn{
  text-decoration: none;
  background: rgb(13, 19, 33);
  color: whitesmoke;
  padding: 12px 18px;
  border-radius: 10px;
}
/* banner section end */

/* About web dev section start */
.about-web-dev {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
.title-description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-description h2{
  font-size: 32px;
}
.title-description p{
  text-align: center;
  padding: 10px 50px;
  font-size: 16px;
}

.articel-container{
  display: flex;
  flex-direction: column;
  padding: 50px 200px;
}
 .articel-container article{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 }
 .articel-container article>div{
  margin-right: 150px;
 }
 article h3{
  font-size: 24px;
 }
 .articel-container article>div h3,p{
  text-align: left;
  padding: 5px 10px;
 }
 .article-btn{
  display: inline-block;
  margin-top: 10px;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid black;
  padding: 5px 12px;
  color: black;
  font-weight: 500;
 }
 .article-btn:hover{
  background-color: #000000;
  color: wheat;
 }
 /* why web development section end */

 /* my inspiration section start */

.my-inspiration{
  text-align: center;
  padding: 50px 200px;
}
.my-inspiration>div{
  margin-bottom: 30px;
}
.my-inspiration h3{
  font-size: 32px;
  padding-bottom: 10px;
}
.my-inspiration p{
  text-align: center;
  font-weight: 450;
}
.my-inspiration iframe{
  border-radius: 5px;
}
/* my inspiration section end */

/*  */